#cart-checkout-page{
    margin-top: 2em;
    margin-bottom: 3em;
}
/* /////////////////////////////*/
.checkout-title{
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5em;
}

.checkout-title i{
    margin-right: .5em;
}

.form-checkout{
    background: #fff;
    padding: 1em;
    border: 1px solid #dddd;
    box-shadow: 0px 0 6px 0 #d1d4dc
}

.c-checkout-add, .c-checkout-service, .checkout-pay-type{
    margin-bottom: 1.3em;
}

.c-checkout-add .form-checkout{
    display: flex;
    flex-direction: column;
}

.c-checkout-add input, .c-checkout-add select {
    width: 100%;
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #ddd;
    margin-bottom: .5em;
    padding: 4px 0;
    transition: all .5s
}

.c-checkout-add span{
    color: red;
    font-size: .85rem;
}

.c-checkout-add span + input{
    border-bottom: red;
}

.c-checkout-add label{
    margin: 0;
    font-size: .9em;
}

.c-checkout-add select{
    height: 36px;
}

.c-checkout-add input:focus, .c-checkout-add select:focus{
    outline: none;
    border-bottom-color: blue
}

/* /////////////////////////////////////////// */
.c-checkout-service tr th{
    background: #eee;
}

.c-checkout-service td{
    padding: 0;
}

.c-checkout-service td label:hover{
    cursor: pointer;
}

.c-checkout-service th{
    text-align: center;
    font-size: .8em;
}

.c-checkout-service tr:hover{
    background: #eee;
}

.c-checkout-service td label{
    font-size: .9rem;
    width: 100%;
    padding: .75rem;
    margin: 0
}

.c-checkout-service input[name="service"]:first-child{
    margin-right: 1em;
}

.c-checkout-service .location-order{
    display: flex;
    margin-bottom: .7em;
    font-size: .85em;
}

.c-checkout-service .location-order span{
    color : green;
    font-weight: 500
}

.c-checkout-service .location-from {
    flex-grow: 2;
}

/* ///////////////////////////////////////////////////// */
.checkout-pay-type .form-checkout{
    display: flex;
    align-items: center;
}

.checkout-pay-type label{
    padding: .75rem
}

.checkout-pay-type label:last-child{
    flex-grow: 2;
    text-align: right;
}

.checkout-pay-type span{
    color: #fff;
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 5px;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    
    
}

.checkout-pay-type span i{
    margin-right: 5px;
}

.checkout-pay-type span.style-pay{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);

}

.checkout-pay-type span:hover{
    cursor: pointer;
}

/* //////////////////////////////////// */

.c-checkout-right{
    /* position: relative; */
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 0 6px 0 #d1d4dc
}

.c-checkout-right::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: .3em;
    background: #c3c3c3;
}

/* .c-checkout-right::after{
    content: '';
    width: calc(100% - 45px);
    height: 1em;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -15px;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    box-shadow: 0px 0 6px 0 #d1d4dc
} */

.checkout-order-title{
    font-size: 1.1em;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: tomato;
    padding-bottom: .5rem;
    border-bottom: 1px solid #ddd
}

/* /////////////////////////////// */

.c-order-item{
    display: flex;
    padding: .5rem 0;
    border-bottom: 1px dashed #ddd
}

.checkout-order-content .c-order-item:last-child{
    border-bottom: 1px solid #ddd;
}

.o-item.o-name{
    font-weight: 500;
    font-size: .9rem;
}

.o-item{
    font-size: .8rem;
    margin-bottom: .6rem;
    display: flex;
    align-items: flex-end;
}

.c-order-item .o-item:last-child{
    margin-bottom: 0;
}

.o-item span{
    margin-right: 2em;
}

.o-item.o-color img{
    border: 1px solid #ddd;
    padding: .05em;
    width: 3em;
    height: 3em;
}

.o-item.o-size div{
    text-align: center;
    width: 3em;
    border: 1px solid #ddd;
    margin-right: 0;
}

.o-item.o-quantity input{
    width: 3em;
}

.o-item-info{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: flex-end
}

.o-item-info .o-img{
    border: 1px solid #ddd;
    padding: .1em;
    width: 5em;
}

.o-item-info .o-img img{
    width: 100%;
}

.o-item-info .o-price{
    font-weight: 500;
    flex-grow: 2;
    display: flex;
    align-items: flex-end;
}

/* ///////////////////// */

.c-order{
    padding: .5em 0 1.5em 0;
    display: flex;
    border-bottom: 1px solid #ddd;
}

.c-order span{
    font-weight: 500;
}

.c-order span:last-child{
    flex-grow: 2;
    text-align: right;
}
 .c-total-fee span{
     color: tomato;
 }

.checkout-order-content .btn-order-checkout{
    width : 100%;
    margin-top: 1em;
    padding: 8px;
    border: none;
    background: tomato;
    border-radius: 3px;
    color: #fff;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.checkout-order-content .btn-order-checkout:hover{
    background: red;
}

.c-order-note div{
    font-size: .9em;
    margin-bottom: .3em;
}

.c-order-note textarea{
    width: 100%;
}


