.ml-auto, .mx-auto {
    margin-left: 0 !important;
}

.container {
    padding: 0;
}

.navbar {
    padding: .4rem 0;
   
}


ul.sub-menu {
    z-index: 999;
    transition:  all .5s;
    display: none;
    padding: 0;
    position: absolute;
    list-style: none;
    background: #111;
}

ul.sub-menu>div{
    display: flex;
}

ul.sub-menu.sub-not-columns{
    /* width: 180px; */
}

li.sub-menu-item{
    position: relative;
    width: 180px;
}

li.sub-menu-item a {
    transition: all .5s;
    color: white;
    display: block;
    padding: 1rem;
    font-size: .8rem;
    text-decoration: none;
}

li.sub-menu-item a:hover {
    color: red;
    padding-left: 1.2rem;
}

.bg-light {
    background: #222 !important
}

.navbar-light .navbar-nav .nav-link {
    color: white
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white
}

.nav-link.active {
    background: tomato;
}

.navbar{
    padding: 0
}

.navbar-expand-md .navbar-nav .nav-link{
    padding: 1rem 1.1rem;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}

ul.sub-menu.is-over{
    display: block;
}

ul.sub-menu.is-over > li{
    background: #111 !important
} 

li.nav-item:hover a.nav-link{
    background: #111;
    color: white
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white
}

.cart-menu i {
    color: white;
    font-size: 1rem;
}

a.cart-menu {
    position: relative;
    padding: 0 1rem;
}

div.oauth-menu {
    color: #fff;
    font-size: .9em;
    margin-right: 2em;
    text-decoration: none;
    font-weight: 600
}

div.oauth-menu:hover {
    color: red;
    cursor: pointer;
}

span.cart-length {
        font-weight: 600;
        color: white;
        position: absolute;
        width: 1.2em;
        height: 1.2em;
        border-radius: 50%;
        background: tomato;
        text-align: center;
        line-height: 1.2em;
        top: -5px;
        right: 0px;
    }

     /* user Profile */
.user-profile-menu{
    text-transform: capitalize;
    position: relative;
    color: #fff;
    font-size: .9em
}

.user-profile-menu:hover {
    cursor: pointer;
}

ul.user-profile-info{
    list-style: none;
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 180px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    z-index: 1000;
}

ul.user-profile-info li{
    transition: all .5s;
    padding: .5rem 1rem;
}


ul.user-profile-info li:hover{
    cursor: pointer;
    background: #f1f1f1
}

ul.user-profile-info li a, ul.user-profile-info li span {
    font-size: .9em;
    transition: all .5s;
    text-decoration: none;
    color: #111;
}

ul.user-profile-info li:hover > a, ul.user-profile-info li:hover > span{
    text-decoration: none;
    color: #e5101d;
}


ul.user-profile-info li i{
    color: #c7c7cd;
    margin-right: .5em;
}

.user-profile-menu img.user-image-menu{
    height: 1.9em;
    width: 1.8em;
    margin-right: .8em;
    border: 1px solid #fff;
    border-radius: 3px;
}