.modal-open {
    padding-right: 15px;
}

.modal-oauth .modal-body, .modal-signin .modal-body, .modal-signup .modal-body {
    padding-right: 1.5em;
    padding-left: 1.5em;
    display: flex;
    flex-direction: column;
}

.modal-oauth .modal-header, .modal-signin .modal-header, .modal-signup .modal-header{
    padding-right: 1.5em;
    padding-left: 1.5em;
    border: none;
    padding-bottom: .3em;
}

.modal-oauth .modal-footer, .modal-signin .modal-footer, .modal-signup .modal-footer{
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
    padding-top: 0 !important;
    padding-bottom: 1em !important;
    border: none;
    display: flex;
}

.modal-signin .modal-title, .modal-oauth .modal-title, .modal-signup .modal-title{
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 600
}

/* Modal Oauth */

.modal-oauth .modal-footer .toggle-signin{
    flex-grow: 2
}


.modal-oauth button.oauth-button {
    display: flex;
    align-items: center;
    padding: .6rem 1.2rem;
    box-shadow: 0 0.2rem 0 0 rgba(0,0,0,.2);
    border-color: transparent;
    text-transform: capitalize;
    color : #fff;
    font-weight : 600;
    font-size: .8rem;
    width: 100%;
    border-radius: 3px;
}

.modal-oauth button.oauth-button i{
    width: 2em;
    padding-right: 1em;
    border-right: 1px solid #fff;
}

.modal-oauth button.oauth-button span {
    flex-grow: 2;
}

button.oauth-button.face-oauth {
    background: #4d75b9;
    margin-bottom: 1em;
}

button.oauth-button.face-oauth:hover {
    background: #3c5e97
}

button.oauth-button.google-oauth {
    background: #e5101d;
}

button.oauth-button.google-oauth:hover{
    background: #bc000b;
}

 /* Footer */
.style-title-footer i {
    text-transform: inherit;
    font-size: .9rem;
    color: #828282
}

.style-title-footer i:hover{
    text-decoration: underline;
    cursor: pointer;
}

.style-title-footer.forget-pass {
    flex-grow: 2;
}


/* Modal SignIn */
.modal-signin input {
    padding: .4rem .5rem;
    /* padding-top: .4rem; */
    width: 100%;
    /* padding-bottom: .4rem; */
    border: 1px solid #c7c7cd;
    border-radius: 3px;
    margin-bottom: .3em;
}

.modal-signin fieldset{
    margin-bottom: 1rem;
}

.modal-signin button[type ="submit"] {
    height: 2.4rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    color: #fff;
    border-radius: 100px;
    width: 100%;
    background: #f5a623;
    border: none;
    padding: .4rem .5rem;
}

.modal-signin button[type ="submit"]:hover{
    background: #f7941d
}

.modal-signin label.label-sign {
    font-size: .7em;
    text-transform: uppercase;
}

.modal-signin .toggle-fb-gg {
    color: #828282;
    text-align: center;
    font-size: .9rem;
    margin-bottom: 1rem;
    margin-top: 1.1rem;
}

.modal-signin .toggle-fb-gg:hover {
    text-decoration: underline;
    cursor: pointer;
}

.modal-signin .toggle-fb-gg i span:first-child {
    color: #4990e2;
}

.modal-signin .toggle-fb-gg i span:last-child{
    color: #e5101d
}

.modal-signin button[type ="submit"]:focus {
    outline: none;
}

span.err-email {
    color: red;
    font-size: .8rem;
}

i.fas.fa-exclamation-circle.error-warn {
    margin-right: .5rem;
}

/* Modal SignUp */

.modal-signup fieldset{
    margin-bottom: 1rem;
}

.modal-signup input{
    border: 1px solid #f1d09c;
    padding: .5rem;
    width: 100%;
    border-radius: 3px;
    margin-bottom: .5rem;
}

.modal-signup button[type='submit']{
    width: 100%;
    padding: 8px;
    border: none;
    background:  #e53935;
    color: #fff;
    font-size: 1.1em;
    text-transform: capitalize;
    border-radius: 3px;
    margin-top: 1.5em;
    font-weight: 500
}
.modal-signup button:focus{
    outline: none;
}

img.loading-signup{
    width: 2em;
    margin-right: 1em;
}

